{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "18" }
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-async-generator-functions"], ["inline-json-import", {}]]
}
